@charset "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(to right, #c04848, #610361);
}

.sproduct input {
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 16px;
	margin-right: 10px;
}
.sproduct input:focus {
	outline: none;
}
.imgProduct {
	width: 430px;
	height: 430px;
}
.buy-btn {
	background: #0a0a23;
	opacity: 1;
	transition: 0.3s all;
	font-size: 13px;
    color: #fff;
    height: 40px;
    width: 135px;
    border-color: #000000;
    
}
h2 {
	display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #27dc8a;
}

h3 {
  display: block;
  font-size: 1.4em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
   font-family: Quicksand;
  color: #fff;
    
}

p {
  display: block;
  font-size: 1.4em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
   font-family: Quicksand;
  color: #fff;
    
}
h6 {
  display: block;
  font-size: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #fff;
  font-family: Quicksand;
}


.rating{
    margin-bottom: 10px;
}
.rating li{
    display: inline-block;
    color: #ece50c;
}