@charset "ISO-8859-1";

*{
	margin:0;
	padding:0;
}

body{
	font-family:Quicksand;
	font-weight:700;
	
}

.welcome-section{
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background:#000;
	overflow:hidden;
}

.content-wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.fly-in-text{
	list-style:none;
}


.fly-in-text li{
	display: inline-block;

	font-size: 4em;
	color: #fff;
	opacity: 1;
	transition: all 3s ease;
}

.fly-in-text li:nth-child(14){
	margin-right:0;
}

.enter-button{
	display:block;
	text-align: center;
	font-size: 1em;
	text-decoration:none;
	color: #adff2f;
	opacity:1;
	margin-top:30px;
	transition: all 1s ease 3s;
}


.content-hidden .fly-in-text li{ opacity: 0;}
.content-hidden .fly-in-text li:nth-child(1){transform: translate3d(-120px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(2){transform: translate3d(-100px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(3){transform: translate3d(-80px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(4){transform: translate3d(-60px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(5){transform: translate3d(-40px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(6){transform: translate3d(-20px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(7){transform: translate3d(0px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(8){transform: translate3d(0px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(9){transform: translate3d(20px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(10){transform: translate3d(40px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(11){transform: translate3d(60px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(12){transform: translate3d(80px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(13){transform: translate3d(100px, 0, 0);}
.content-hidden .fly-in-text li:nth-child(14){transform: translate3d(120px, 0, 0);}



.content-hidden .enter-button{opacity: 0; transform:translate3d(0, -30px, 0);}





































