<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>GeekFactory</display-name>
  <welcome-file-list>
    <welcome-file>intro.jsp</welcome-file>
  </welcome-file-list>

  <login-config>
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  		<form-login-page>/loginPage.jsp</form-login-page>
  		<form-error-page>/login-error.jsp</form-error-page>
  	</form-login-config> 
  </login-config>
     
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>Sensitive</web-resource-name>
  		<url-pattern>/testSecurity.jsp</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>registeredUser</role-name>
  	</auth-constraint> <!--   
  	<user-data-constraint>
  		<transport-guarantee>
  			CONFIDENTIAL
  		</transport-guarantee>
  	</user-data-constraint>
  -->
  </security-constraint>
  
  <security-role>
  	<role-name>administrator</role-name>
  </security-role>
  <security-role>
  	<role-name>registeredUser</role-name>
  </security-role>
  
  <error-page>
    <error-code>500</error-code>
    <location>/error500.jsp</location>
  </error-page>
  
</web-app>